<button><a href="/upload">Upload code</a></button>
<%= @message %>

<canvas id="canvas" width="900" height="500"></canvas>

<script>

  $(document).on('ready', function(){
    var width = $(window).width();
    var height = $(window).height();

    var canvas = document.getElementById('canvas');
    canvas.width = width;
    canvas.height = height;

    var c = canvas.getContext("2d");

    c.fillStyle = 'black';
    c.font="bold 30px Arial";
    var text = "Light";
    var textWidth = c.measureText(text).width;
    c.fillText("Light", width/2 - textWidth/2 , height/2 - 140);
    
    c.fillStyle = '18009E';
    c.beginPath();
    c.arc(width/2, height/2, 90, 0, Math.PI * 2, true);
    c.fill();

    function ajaxCall() {
      $.ajax({
        type: 'GET',
        url: '/input.json',
        async: true,
        success: function(data){
          console.log("Light: " + data.light);
          console.log("Temperature: " + data.temperature);

          var light = data.light
          switch(true)
          {
          case (light >= 900):
            c.fillStyle = 'C4BAFF';
            break;
          case (light < 900 && light >= 800):
            c.fillStyle = 'A291FF';
            break;
          case (light < 800 && light >= 700):
            c.fillStyle = '765EFF';
            break;
          case (light < 700 && light >= 600):
            c.fillStyle = '4529E3';
            break;
          case (light < 600 && light >= 500):
            c.fillStyle = '3016C4';
            break;
          default:
            c.fillStyle = 'red';
          }

          c.beginPath();
          c.arc(width/2, height/2, 90, 0, Math.PI * 2, true);
          c.fill();
          setTimeout(ajaxCall(), 500);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) { 
          console.log("Status: " + textStatus);
          console.log("Error: " + errorThrown); 
        }
      })
    }

    ajaxCall();

  });

</script>